.container {
    background-image: url(../../public/banner.png);
    background-repeat: no-repeat;
    width: 1366px;
    height: 456px;
    top: 83px;
    gap: 0px;
    opacity: 0px;
}

.input {
    margin-left: 1040px;
    margin-top: 25px;
    width: 230px;
    height: 31px;
    top: 120px;
    left: 580px;
    gap: 0px;
    background-color: transparent;
    border-radius: 10px;
    color: black;
    opacity: 1;
}



.populares {
    display: flex;
    width: 1206px;
}

.classificados {
    display: flex;
    width: 1206px;
}

.carrossel {
    margin: 0 auto;
    width: 1208px;
    height: 200px;
    margin-top: 40px;

}

.h1font {
    margin-top: 400px;
}



.footer {
    margin-top: 80px;
}