.styles-menu {
    background-color: #f46d1b;
    width: 70px;
    height: 1900px;
    max-width: 40px;
    margin-right: 40px;
    z-index: 9;
    position: absolute;
}

.positioned-menu-button {
    color: white;
}

.positioned-menu {
    color: white;
}

.positioned-menu-item {
    color: white;
}

.menu {
    color: white;
}

.positioned-menu-button {
    color: white;
}

.positioned-menu-item {
    color: black;
}